<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284261755075-kk26e79q90petbrrk5vblpupe4dtltpm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284261755075-kk26e79q90petbrrk5vblpupe4dtltpm</string>
	<key>API_KEY</key>
	<string>AIzaSyDakEmNIvyvnzY7o9sWJkSBI6FpQbZ_Qiw</string>
	<key>GCM_SENDER_ID</key>
	<string>284261755075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseChatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-243ce</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-243ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284261755075:ios:46ef20fc624d9182f8da76</string>
</dict>
</plist>